

.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  position: relative;
  background: linear-gradient(135deg, #c5bcbc, #d9d9d9);
  overflow: hidden;
}

.message {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  animation: fadeIn 1s ease-in-out, bounce 2s infinite; /* Animaciones */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(50px);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}